In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
datasets=pd.get_dummies(dataset,drop_first=True)

In [5]:
datasets

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
datasets.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
indep=datasets[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dep=datasets[['charges']]

In [8]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

In [9]:
param_grid = {'criterion':['mse','mae'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)

# fitting the model for grid search
grid.fit(indep, dep)

C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:    6.6s
[Parallel(n_jobs=-1)]: Done  26 out of  36 | elapsed:    8.6s remaining:    3.2s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:    9.7s finished
C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [11]:
# print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(indep)
# print classification report
from sklearn.metrics import r2_score
r_score=r2_score(dep,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'log2', 'n_estimators': 100}: 0.9760702392698922

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:

table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.124999,0.072618,0.007979,3.256892e-03,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.829831,0.826255,0.814488,0.823525,0.006555,7
1,0.413228,0.122703,0.016290,5.421753e-03,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.836364,0.827849,0.818615,0.827610,0.007248,5
2,0.075132,0.060448,0.006649,1.880424e-03,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.819514,0.804912,0.815051,0.813159,0.006109,11
3,0.509638,0.347814,0.016290,2.049267e-03,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.840110,0.839333,0.817614,0.832353,0.010426,2
4,0.068816,0.017915,0.009974,2.154498e-03,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.821802,0.823340,0.801702,0.815615,0.009858,10
5,0.283907,0.024162,0.015292,1.243922e-03,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.841751,0.844156,0.820763,0.835557,0.010507,1
6,0.372670,0.094806,0.026928,1.205086e-02,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.802025,0.816475,0.798385,0.805628,0.007812,12
7,2.136953,0.251408,0.015625,4.484634e-03,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.826885,0.831297,0.819170,0.825784,0.005012,6
8,0.198469,0.039189,0.010306,8.932491e-03,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.822000,0.818866,0.808889,0.816585,0.005590,9
9,1.605374,0.317557,0.014960,8.142961e-04,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.838771,0.832114,0.819464,0.830117,0.008008,4
10,0.196475,0.040887,0.003657,4.702465e-04,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.831620,0.818203,0.808571,0.819464,0.009452,8
11,1.461759,0.288003,0.011968,2.247832e-07,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.840225,0.832251,0.820052,0.830843,0.008296,3

In [14]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:29
BMI:25
Children:0
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [15]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[17027.07352]