In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
datasets=pd.get_dummies(dataset,drop_first=True)
datasets

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
datasets.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
indep=datasets[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dep=datasets[['charges']]

In [7]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['mse','mae'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)

# fitting the model for grid search
grid.fit(indep, dep)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)
C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [9]:
re=grid.cv_results_

print("The R_score value for best parameter {}".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'log2', 'n_estimators': 100}

In [10]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.044082,0.002779,0.008178,0.001595,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.829876,0.765732,0.848230,0.785335,0.824230,0.810681,0.030413,10
1,0.291620,0.004069,0.021343,0.004487,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.846531,0.768001,0.855767,0.817171,0.836897,0.824873,0.031183,5
2,0.032513,0.002410,0.007381,0.001017,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.855584,0.753193,0.848990,0.816496,0.820832,0.819019,0.036271,8
3,0.209838,0.006358,0.017354,0.000489,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.857189,0.779046,0.864320,0.831797,0.838112,0.834093,0.029996,3
4,0.027526,0.001353,0.005984,0.000892,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.826359,0.768530,0.858312,0.813999,0.837424,0.820925,0.029976,7
5,0.245743,0.018047,0.016755,0.000977,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.862545,0.780995,0.860926,0.827981,0.842374,0.834964,0.029837,1
6,0.219412,0.030316,0.005585,0.000489,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.808498,0.746271,0.829295,0.810957,0.828341,0.804672,0.030435,12
7,1.736662,0.020675,0.013764,0.001934,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.841408,0.767154,0.844038,0.824929,0.835319,0.822569,0.028477,6
8,0.113896,0.003179,0.006183,0.001466,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.836842,0.746787,0.839904,0.807350,0.812860,0.808749,0.033520,11
9,1.053686,0.027262,0.017455,0.001182,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.852790,0.776429,0.856161,0.827536,0.847115,0.832006,0.029504,4
10,0.114693,0.004231,0.006582,0.000798,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.843240,0.776839,0.832519,0.800758,0.821911,0.815053,0.023712,9
11,0.900006,0.109202,0.012562,0.001958,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.858864,0.781152,0.858523,0.828137,0.844807,0.834297,0.028856,2

In [11]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:30
BMI:25
Children:0
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [12]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[18436.596557]

C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [13]:
import pickle

In [14]:
filename="finalised_gridCv_RandomForest(without_Train&TestSplit).sav"

In [16]:
pickle.dump(grid,open(filename,'wb'))

In [18]:
#DEPLOYMENT

In [19]:
loaded_model=pickle.load(open("finalised_gridCv_RandomForest(without_Train&TestSplit).sav",'rb'))

In [20]:
result=loaded_model.predict([[30,30,0,0,1]])
result

C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

array([27325.4504046])